{% extends 'base.html' %}

{% block content %}
<h1>
    {{ book_name }}
    <a href="{% url 'goshuin_books:add_goshuin' book_id=book_id %}" class="top-menu"><button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button></a>
</h1>
<div class="container">
    <div class="row g-3">
        {% for object in object_list %}
        <div class="col-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="{{ object.picture.url }}" class="card-img-top" style="object-fit: cover; height: 250px">
                    <p>{{ object.name }}</p>
                    <p>{{ object.date }}</p>
                    <p>memo:{{ object.memo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}