{% extends 'base.html' %}
{% block content %}
<div class="update-goshuin wrapper">
  <div class="content-top">
    <h1 class="page-title">あつめ帳　一覧</h1>
    <div class="edit-menus">
      <a href="{% url 'goshuin_books:create_book' %}" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</a>
    </div>
  </div>
  <div class="book-list-container">
    <ul>
        {% for object in object_list %}
        <li><a href="{% url 'goshuin_books:book' book_id=object.id %}">{{ object.name }}</a></li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}